/* Header CSS in BarkMode Start */
header {
  background: #48494a;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  height: 60px;
}

.logoDiv {
  float: left;
  width: 150px;
}

.loginDiv {
  float: right;
  width: auto;
  margin-right: 40px;
}

.badge {
  position: relative;
  margin-left: 60%;
  margin-top: -60%;
}
.bellCountZero .bellIconLayout .layout-vert-fixed-top {
  display: none;
}
.liItem1 .badge {
  position: absolute;
  margin-left: 0%;
  margin-top: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 8px;
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  line-height: 16px;
  top: -3px;
  right: 0px;
}
.tabArea .nav-tabs > li.active > a,
.tabArea .nav-tabs > li.active > a:focus,
.tabArea .nav-tabs > li.active > a:hover {
  color: #27a2f8;
  cursor: default;
  background-color: transparent;
  border: 0px solid #ddd;
  border-bottom-color: transparent;
}

.tabArea .nav-tabs > li > a,
.tabArea .nav-tabs > li > a:hover {
  background: transparent;
  border: 0px solid #ddd;
}

.dropdown-menu {
  min-width: 194px;
}

.filterDiv .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  font-size: 10px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 0px;
  font-size: 10px;
}

.dropdown-menu > li > a:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.dropdown.open .caret {
  transform: rotate(180deg);
}

.loginDropdown.nav > li > a:focus,
.loginDropdown.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}
.loginDropdown.nav > li.liItem2 a {
  color: #e0e0e0;
  font-size: 14px;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.loginDropdown.nav > li.liItem2 ul a {
  color: #262626;
}
.fa-stack {
  line-height: 38px;
}
.loginDropdown > li.liItem1 > a {
  padding-top: 16px;
  padding-bottom: 16px;
}

.loginDropdown > li.liItem2 > a {
  padding-top: 20px;
  padding-bottom: 20px;
}
.loginDropdown ul {
  width: 220px;
  background: #272727;
  border-radius: 4px;
}
.loginDropdown.nav > li.liItem2 ul li a {
  font-size: 12px;
  color: #e0e0e0;
}
.loginDropdown.nav > li.liItem2 ul li a:hover {
  font-size: 12px;
  color: #e0e0e0;
  background: transparent;
}
.nameEmailBtn {
  width: 64px;
  float: left;
  min-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.logoutBtn {
  width: 64px;
  float: left;
  min-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.nameUserDiv {
  display: block;
  width: calc(100% - 64px);
  float: left;
  height: 64px;
  padding: 15px 0;
}
.nameUser,
.emailUser {
  display: block;
}
.emailUser {
  color: #a0a0a0;
  font-size: 9px;
}
.logoutTxt {
  display: flex;
  width: calc(100% - 64px);
  float: left;
  height: 50px;
  padding: 15px 0;
  justify-content: left;
  align-items: center;
}
.loginDropdown.nav > li.liItem2 ul li {
  float: left;
  width: 100%;
}
.loginDropdown.nav > li.liItem2 ul li:first-child {
  border-bottom: 1px solid rgba(154, 154, 154, 0.38);
}
.loginDropdown .dropdown-menu {
  padding: 0px 0;
  margin: 0px 0 0;
  border: 0px solid #ccc;
  box-shadow: none;
}
.loginDropdown .dropdown-menu:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid #272727;
  position: absolute;
  content: "";
  top: -8px;
  right: 8px;
}
.loginDropdown .liItem1 ul {
  width: 400px;
  background: #272727;
  border-radius: 4px;
}
.navbar-right .liItem1 .dropdown-menu {
  right: -138px;
}
.navbar-right .liItem1 .dropdown-menu:after {
  right: 160px;
}
.loginDropdown .liItem1 ul {
  height: calc(100vh - 85px);
  background: #272727;
  border-radius: 4px 0px 4px 4px;
}
.alertContentTxt {
  font-size: 12px;
  color: #e0e0e0;
  padding-right: 20px;
}
.heahingAlert {
  font-size: 12px;
  color: #e0e0e0;
  margin: 0px;
  padding: 11px;
}
.timeSpan {
  font-style: italic;
  font-size: 10px;
  color: #a0a0a0;
  padding-left: 20px;
}
.alertContentUl li {
  position: relative;
  background: #1b1b1b;
  margin-bottom: 8px;
  min-height: 60px;
  padding: 15px;
}
.closeIconAlert {
  position: absolute;
  right: 10px;
  top: 10px;
}
.alertContentUl {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* Header CSS in BarkMode End */
/* Breadcrum CSS in BarkMode Start */
.wrapper {
  max-height: calc(100% - 60px);
  height: 100%;
  background: #121212;
  float: left;
  width: 100%;
  padding-left: 84px;
}
.wrapper .contentWrap {
  float: right;
  width: 100%;
  height: calc(100% - 24px);
}
.breadcrumsCls .breadcrumb {
  padding: 5px 0px;
  border-radius: 0px;
  margin: 0px;
  background: transparent;
}

.breadcrumsCls .breadcrumb-item.active {
  font-size: 10px;
  color: #e0e0e0;
}
/* Breadcrum CSS in BarkMode End */
/* Left CSS in BarkMode Start */
.leftMenu {
  background: #232323;
  width: 60px;
  height: calc(100% - 60px);
  float: left;
}

.leftMenu.expandWidth {
  width: 220px;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.comnmenu {
  overflow: hidden;
}
.leftMenu {
  position: absolute;
  z-index: 9;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.leftMenu ul {
  margin: 0;
  padding: 0;
}

.leftMenu ul li {
  min-height: 40px;
  display: flex;
  border-bottom: 1px solid transparent;
  min-width: 200px;
}

.leftMenu ul li.active,
.leftMenu ul li:hover {
  background: #27333d;
}

.leftMenu ul li a {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;
  color: #a0a0a0;
  font-family: "GothamLight";
}

.leftMenu ul li a:hover {
  text-decoration: none;
}

.leftMenu ul li span {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.leftMenu ul li.active a,
.leftMenu ul li:hover a {
  color: #208cf3;
  text-decoration: none;
}

.leftMenu ul li.active,
.leftMenu ul li:hover {
  border-bottom: 1px solid #232323;
}

.leftMenu ul li.active path,
.leftMenu ul li:hover path {
  stroke: #208cf3;
}
/* Left CSS in BarkMode End */
/* Footer CSS in BarkMode Start */
.footer {
  height: 24px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0 !important;
  z-index: 6;
  background: #121212;
}
.rotateCls .fa {
  transform: rotateX(-180deg);
}
.bottomSideMenu {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

.menuhideshow {
  position: absolute;
  top: 50%;
  width: 28px;
  height: 28px;
  background: #232323;
  border-radius: 50%;
  z-index: 3;
  right: -12px;
  text-align: center;
}

.menuhideshow .fa {
  color: #005abc;
  font-size: 20px;
  line-height: 28px;
}
/* Footer CSS in BarkMode End */
/* MachineList CSS in BarkMode Start */
.cardMachine {
  background: #1f1f1f;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 180px;
  min-width: 300px;
  width: 100%;
  float: left;
  padding: 0 12px;
}
.innerMachine {
  margin-top: 10px;
}
.mb14 {
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
}
.innerMachine .col-md-4 {
  padding-right: 10px;
  padding-left: 10px;
}
.machineTitle,
.machineDetails {
  float: left;
  width: 100%;
}
.machineTitleUl {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.statusCls {
  background: #34ad4d;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}
.machineCritical {
  padding: 2px 8px;
  min-width: 67px;
  height: 18px;
  background: rgba(170, 71, 65, 0.7);
  border: 0.5px solid #aa4741;
  border-radius: 0px 0px 4px 4px;
  font-size: 8px;
  color: #e0e0e0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.machineImg {
  float: left;
  width: 45%;
}
.machineDescription {
  float: right;
  width: 50%;
  padding-top: 20px;
}
.machineTxt {
  font-weight: 500;
  font-size: 12px;
  color: #e0e0e0;
  font-family: "GothamBook";
}
.machineBar {
  position: relative;
  height: 25px;
  float: left;
  width: 100%;
}
.machineCritical {
  position: absolute;
  right: 50px;
  top: 0px;
}
.bookmarkCls {
  position: absolute;
  right: 15px;
  top: 0px;
}
.machineTitleUl span {
  display: inline-block;
  margin-right: 10px;
  line-height: 20px;
}
.svgIcons {
  position: relative;
  top: 4px;
  left: 0px;
}
.machineDescription label {
  font-size: 12px;
  color: #e0e0e0;
}
.txtMode {
  font-size: 10px;
  color: #a0a0a0;
  text-align: center;
}
.machineMode {
  text-align: center;
  float: left;
  width: 50%;
  height: 84px;
}
.machineSince {
  float: right;
  width: 50%;
  text-align: center;
  height: 84px;
}
.onoffTxt {
  background: rgba(88, 167, 104, 0.1);
  border: 1px solid #58a768;
  border-radius: 8px;
  color: #58a768;
  font-size: 8px;
  text-align: center;
  font-family: "GothamBook";
  width: 36px;
  height: 16px;
  line-height: 15px;
  float: left;
  margin-left: 68px;
}
.onOffStatus {
  float: left;
  width: 100%;
}
.notifyTxt {
  color: #e0e0e0;
  font-size: 8px;
  font-family: "GothamBook";
  background: rgba(72, 73, 74, 0.2);
  border-radius: 8px;
  width: 40px;
  float: right;
  text-align: center;
  padding: 1px 0px;
}
.countNotify {
  position: relative;
  top: -2px;
}
/* MachineList CSS in BarkMode End */
/* Tabs Styles Start */
.contentPart {
  position: relative;
  padding-right: 15px;
}
.tabArea {
  height: calc(100% - 40px);
}
.tabArea .tabsName li {
  margin-right: 16px;
}

.tabArea .tabsName li a {
  font-size: 12px;
  text-align: center;
  color: #a0a0a0;
}

.tabArea .tabsName li.active a {
  color: #27a2f8;
}

.tabArea .nav-tabs {
  border-bottom: 1px solid #232323;
}

.tabArea .tabsName li a:hover {
  text-decoration: none;
}

.tabArea .tab-content > .active {
  opacity: 1;
}
.tabArea .tabsName li.active:after {
  content: "";
  position: absolute;
  background: #27a2f8;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0px;
}
/* Tabs Styles End */
/* Filter Styles Start */
.filterDiv {
  width: 213px;
  height: 100%;
  background: #1f1f1f;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), -2px -1px 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  float: left;
  position: absolute;
  left: 0;
  color: #fff;
  padding: 0 10px;
  top: 10px;
  padding-top: 40px;
}
.filterInnerDiv span:before {
  content: "";
  background: url(../images/filterFill.png) no-repeat left center;
  position: absolute;
  z-index: 9;
  height: 20px;
  width: 18px;
}

.filterDiv .searchCls .form-control {
  display: block;
  width: 100%;
  height: 26px;
  padding: 1px 5px;
  font-size: 10px;
  line-height: 1.42857143;
  color: #fff;
  background-color: transparent;
  border: 1px solid #5d5e60;
  border-radius: 4px;
}
.filterDiv .searchCls .fa {
  position: absolute;
  top: 6px;
  right: 24px;
  z-index: 9;
  font-size: 12px;
}
.form-control:focus {
  box-shadow: none;
}

.filterInnerDiv span .fillIcon:before {
  background: url(../images/filterNotFill.png) no-repeat left center;
}
.filterInnerDiv span {
  background: #27333d;
  border-radius: 4px 4px 4px 0px;
  padding: 5px 10px;
  margin-top: 0px;
  display: inline-block;
  width: 32px;
  height: 30px;
}
.filterInnerDiv {
  position: absolute;
  z-index: 4;
  left: 0px;
  top: 10px;
}
.filterInnerDiv .pointer,
.leftMenu .pointer {
  cursor: pointer;
}
.logologin {
  margin-bottom: 40px;
}
.removedWidth {
  display: none;
}
.dropdown .borderInput {
  border: 1px solid #5d5e60;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  background: transparent;
  width: 100%;
  text-align: left;
  padding: 1px 5px;
  line-height: 20px;
}

.mb15 {
  margin-bottom: 15px;
}

.font10 {
  font-size: 10px;
  color: #e0e0e0;
}

.drop-text {
  color: #5d5e60;
  font-size: 10px;
}

.borderInput .caret {
  text-align: right;
  right: 10px;
  position: absolute;
  top: 11px;
}

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #5d5e60 !important;
  outline: 0;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
/* Filter Styles End */
/* Map Area Styles Start */
.mapDiv {
  overflow: hidden;
  height: 80vh;
  margin-left: 230px;
}
.expandMapWidth {
  margin-left: 50px;
}
/* Map Area Styles End */

/**/
.listMachine li {
  width: 100px;
  float: left;
  position: relative;
  height: 100px;
  margin: 0 10px;
}

.allMachine .outercircle {
  background: #27a2f8;
  height: 60px;
  width: 60px;
  color: #e0e0e0;
}

.criticalMachine .outercircle {
  background: #aa4741;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  height: 60px;
  width: 60px;
  color: #e0e0e0;
}

.amcMachine .outercircle {
  background: #9c6718;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  color: #e0e0e0;
  height: 60px;
  width: 60px;
}

.listMachine li.active .machineName {
  color: #fff;
}

.machineStatus {
  position: absolute;
  bottom: 6%;
  z-index: 3;
  left: 120px;
  right: 0;
  max-width: 380px;
  margin: 0 auto;
}

.listMachine {
  margin: 0 auto;
  width: 360px;
  padding: 0;
  list-style: none;
}

.tab-content {
  position: relative;
  height: 100%;
}

.listMachine .circle {
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.outercircle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  cursor: pointer;
}

.machineName {
  float: left;
  width: 100%;
  font-size: 10px;
  color: #a0a0a0;
  position: absolute;
  bottom: 0px;
  font-family: "GothamBook";
}

.listMachine li.allMachine.active .circle,
.listMachine li.criticalMachine.active .circle,
.listMachine li.amcMachine.active .circle {
  font-size: 20px;
}

.listMachine li.allMachine.active .outercircle,
.listMachine li.criticalMachine.active .outercircle,
.listMachine li.amcMachine.active .outercircle {
  height: 71px;
  width: 71px;
}

.borderWidth {
  height: 81px;
  width: 81px;
  border-radius: 50%;
  margin: 0 auto;
}

.listMachine li.allMachine.active .borderWidth {
  border: 1px solid #27a2f8;
}

.listMachine li.criticalMachine.active .borderWidth {
  border: 1px solid #aa4741;
}

.listMachine li.amcMachine.active .borderWidth {
  border: 1px solid #9c6718;
}

/* Machine List Div Start*/
.machineListDiv {
  width: 0px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  color: #fff;
  padding: 0 10px;
  top: 10px;
  /* padding-top: 40px; */
}
.cardMachineRight {
  background: #262626;
  height: 120px;
  width: 100%;
  float: left;
  padding: 0 12px;
  border-top: 7px solid #707070;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 4px 0px;
}
.machineRightImg {
  float: left;
  width: 30%;
}
.machineRightDescription {
  float: right;
  width: 70%;
  padding-top: 20px;
}
.machineModeRight {
  float: left;
  width: 50%;
  height: 40px;
}
.machineSinceRight {
  float: right;
  width: 50%;
  height: 40px;
}
.modetextB {
  font-family: "GothamBold";
  font-size: 12px;
  color: rgba(204, 204, 204, 0.87);
}
.modetextN {
  font-size: 10px;
  color: rgba(204, 204, 204, 0.87);
  float: left;
  width: 50px;
  line-height: 18px;
}
.onoffTxtRight {
  background: rgba(88, 167, 104, 0.1);
  border: 1px solid #58a768;
  border-radius: 8px;
  color: #58a768;
  font-size: 8px;
  text-align: center;
  font-family: "GothamBook";
  width: 36px;
  height: 16px;
  line-height: 15px;
  float: left;
  margin-left: 64%;
}
.longEnough {
  min-height: 415px;
  max-height: 535px;
  height: 100%;
  overflow: auto;
  margin-left: 40px;
  background: #232323;
}
.mCSB_inside > .mCSB_container {
  margin-right: 20px;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #999999 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.backCloseDiv {
  width: 440px;
  display: flex;
  background: #232323;
  height: 40px;
  vertical-align: middle;
  align-items: center;
}
.closeIcon {
  padding: 8px;
  line-height: 10px;
  cursor: pointer;
}
.machineListTxt {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.87);
}
.machineAddress {
  font-family: "GothamBold";
  font-size: 12px;
  color: #27a2f8;
  margin-right: 20px;
  margin-left: 5px;
}

.widthZero {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 0px;
  margin-right: -20px;
}
.widthListView {
  width: 440px;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
/* Machine List Div End*/

.heightDiv {
  height: 80%;
}
.heightDiv .mCSB_inside > .mCSB_container {
  margin-right: 10px;
}
.heightDiv .mCSB_scrollTools {
  width: 10px;
}
.heightDiv .closeIconAlert {
  right: 18px;
}
.heightDiv .mCustomScrollBox {
  max-height: 500px !important;
}
.loginDropdown .liItem1 .alertContentUl {
  height: auto;
}
.viewAllBtn {
  font-size: 12px;
  text-align: center;
  color: #1684fc;
}
