@font-face {
  font-family: "GothamBlack";
  src: url("./fonts/Gotham-Black.eot");
  src: url("./fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gotham-Black.otf") format("opentype"),
    url("./fonts/Gotham-Black.svg") format("svg"),
    url("./fonts/Gotham-Black.ttf") format("truetype"),
    url("./fonts/Gotham-Black.woff") format("woff"),
    url("./fonts/Gotham-Black.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamBlack-Italic";
  src: url("./fonts/Gotham-BlackItalic.eot");
  src: url("./fonts/Gotham-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gotham-BlackItalic.otf") format("opentype"),
    url("./fonts/Gotham-BlackItalic.svg") format("svg"),
    url("./fonts/Gotham-BlackItalic.ttf") format("truetype"),
    url("./fonts/Gotham-BlackItalic.woff") format("woff"),
    url("./fonts/Gotham-BlackItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamBold";
  src: url("./fonts/Gotham-Bold.eot");
  src: url("./fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gotham-Bold.otf") format("opentype"),
    url("./fonts/Gotham-Bold.svg") format("svg"),
    url("./fonts/Gotham-Bold.ttf") format("truetype"),
    url("./fonts/Gotham-Bold.woff") format("woff"),
    url("./fonts/Gotham-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamBook";
  src: url("./fonts/Gotham-Book.eot");
  src: url("./fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gotham-Book.otf") format("opentype"),
    url("./fonts/Gotham-Book.svg") format("svg"),
    url("./fonts/Gotham-Book.ttf") format("truetype"),
    url("./fonts/Gotham-Book.woff") format("woff"),
    url("./fonts/Gotham-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamLight";
  src: url("./fonts/Gotham-Light.eot");
  src: url("./fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gotham-Light.otf") format("opentype"),
    url("./fonts/Gotham-Light.svg") format("svg"),
    url("./fonts/Gotham-Light.ttf") format("truetype"),
    url("./fonts/Gotham-Light.woff") format("woff"),
    url("./fonts/Gotham-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  /* overflow-y: hidden !important; */
}
body {
  overflow: hidden;
}
